# Android/Gradle typical ignores
*.iml
.gradle/
/local.properties
/.idea
/.DS_Store
/build/
/app/build/
/captures/
.externalNativeBuild/
.cxx/

# Jetpack Compose previews
**/composePreview/

# Kotlin compiler temporary cache
.kotlin/
