# Android/Gradle typical ignores
*.iml
.gradle/
/local.properties
/.idea
/.DS_Store
/build/
/app/build/
/captures/
.externalNativeBuild/
.cxx/

# Jetpack Compose previews
**/composePreview/

# Kotlin compiler temporary cache
.kotlin/

# Release related folders
/app/release/
/release/
**/release/
*.apk
*.aab
*.keystore
*.jks
/app/src/release/
/app/src/main/res/values/release/
.idea
docs
.env.local
